GITHUB_URL="https://api.github.com"
GITHUB_VERSION="v3"
BITBUCKET_URL="https://api.bitbucket.org"
BITBUCKET_VERSION="2.0"
# Token should be provided to avoid rate limit on github api (It allows only 60 requests per hour)
GITHUB_TOKEN=""